.wrapper {
  height: 100%;

  --header-height: 52px;
  &.header-height-big { --header-height: 94px; }
  &.header-display-none { --header-height: 0px; }

  --footer-height: 52px;
  &.footer-display-none { --footer-height: 0px; }

  .grid-layout {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: var(--header-height) auto var(--footer-height);
    grid-template-areas:
      "header"
      "content"
      "footer";
  }
}

.grid-header { grid-area: header; }
.grid-content { grid-area: content; }
.grid-footer { grid-area: footer; }
