@use '@angular/material' as mat;
@include mat.core();

@import './styles/mixins/mixin';
@import './styles/themes';

@include mat.all-component-themes($dark-theme);

.light-theme {
  @include mat.all-component-colors($light-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* { box-sizing: border-box; }

section.content-wrapper {
  max-width: 1280px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
