<app-filter
  (actionCall)="execute($event)"
></app-filter>

<div class="wrapper"
  [ngClass]="{ 'desktop': !(isMobile$ | async) }"
  *ngIf="(topHeadlines$ | async) as result"
>
  <h2>Top hírek</h2>

  <div class="card-wrapper">
    @for (article of result.articles; track article) {
      <app-big-card
        [article]="article"
      ></app-big-card>
    }
  </div>

  <mat-paginator
    [length]="result.totalResults"
    [pageIndex]="search.page"
    [pageSize]="search.pageSize"
    [pageSizeOptions]="[10, 20, 50]"
    (page)="change($event)"
  ></mat-paginator>
</div>
